# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
.venv/
.env/

# IDEs
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3

# MacOS
.DS_Store

# Others
*.env
